<ion-split-pane>
  <ion-menu contentId='content'>
    <app-header title='Menu'></app-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide='false' *ngFor='let page of pages'>
          <ion-item [routerLink]='page.url' routeDirection='root'
            [class.active-item]='selectedPath.startsWith(page.url)'>
            <ion-icon name={{page.icon}} slot='start'></ion-icon>
            <ion-label translate>{{page.tittle}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-item tappable (click)='logout()'>
        <ion-icon name='log-out' slot='start'></ion-icon>
        {{'myApp.logout' | translate}}
      </ion-item>
    </ion-content>

  </ion-menu>
  <ion-router-outlet id='content' main></ion-router-outlet>
</ion-split-pane>
