<ion-header>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row>
        <ion-col (click)="goToLogin()" class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <ion-title class="ion-text-center" translate>myApp.goToLoginBtn</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="login">
    <div class="login_title ion-padding">
      <h3>{{'myApp.createAccount' | translate}}</h3>
    </div>
    <form class="login_fields" form #form="ngForm" (ngSubmit)="register(form)">
      <div class="login_fields__user">
        <input name="name" type="text" placeholder="{{'myApp.name' | translate}}" ngModel required />
      </div>
      <div class="login_fields__user">
        <input name="surname" type="text" placeholder="{{'myApp.surname' | translate}}" ngModel required />
      </div>
      <div class="login_fields__user">
        <input name="email" type="email" placeholder="{{'myApp.email' | translate}}" ngModel required />
      </div>
      <div class="login_fields__user">
        <input name="password" type="password" placeholder="{{'myApp.password' | translate}}" ngModel required />
      </div>
      <div class="login_fields__user">
        <input name="confirm" type="password" placeholder="{{'myApp.confirm_password' | translate}}" ngModel required />
      </div>
      <div class="ion-padding">
        <ion-button color="danger" shape="round" type="submit" fill="outline">{{'myApp.submit' | translate}}</ion-button>
      </div>
    </form>
  </div>
</ion-content>
