<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>Multiple Selection</ion-list-header>

    <ion-item>
      <ion-label>Product</ion-label>
      <ion-select multiple="true" [(ngModel)]="selectedProducts" name="selectProduct" *ngIf="products">
        <ion-select-option *ngFor="let product of products" [value]="product">
          {{product.product_name}} - {{product.product_price}}</ion-select-option
        >
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="ion-padding ion-text-center">
    <ion-button icon-left (click)="createProductsCode()" translate>
      <ion-icon name="barcode" style="margin-right: 10px"></ion-icon> {{ 'myApp.createProductsCode' | translate}}
    </ion-button>
  </div>

  <form [formGroup]="transactionPriceForm" (ngSubmit)="createPriceCode()">
    <div class="ion-padding ion-text-center">
      <ion-item>
        <ion-input formControlName="transaction_price" type="text" placeholder="Transaction price"></ion-input>
      </ion-item>

      <ion-button [disabled]="transactionPriceForm.invalid" icon-left (click)="createPriceCode()" translate>
        <ion-icon name="barcode" style="margin-right: 10px"></ion-icon> {{ 'myApp.createPriceCode' | translate}}
      </ion-button>
    </div>
  </form>

  <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
  </ion-card>
</ion-content>
