<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>Multiple Selection</ion-list-header>

    <ion-item>
      <ion-label>Product</ion-label>
      <ion-select multiple="true" [(ngModel)]="selectedProducts" [selectedText]="selectedProducts" name="selectProduct" *ngIf="products">
        <ion-select-option *ngFor="let product of products" value="{{product.product_id}}">
          {{product.product_name}} - {{product.product_price}}</ion-select-option
        >
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="ion-padding ion-text-center">
    <ion-button icon-left (click)="createCode()" translate>
      <ion-icon name="barcode" style="margin-right: 10px"></ion-icon> {{ 'myApp.createCode' | translate}}
    </ion-button>
  </div>

  <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    <ion-card-content>
      <p>{{'myApp.value' | translate}}: {{createdCode}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
